.hedar{
  text-align: center;
}
  .pp{
    color: #670026;
  }
  .lgg{
    size: 50px;
    align-items:flex-end ;
  }
  label{
    width: 100px;
    display: inline-block;
    margin: 4px;
  }
  .inform{
    border: double;
    border-radius: 10px;
    border-color: #670026;
    width: 500px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .subres{
    text-align: center;
  }
  p{
    text-align: center;
    color: #670026;
  }
  select{
    width: 20em;
  }

   
  
  .dlogo img{
    float: left;
    height: 90px;
    padding-left: 15px;
    padding-top: 10px ;
  }
  .viewname{
    float: right;
    font-size: 15px;
    padding-top: 10px; 
    padding-right: 10px;
    position: static;
    z-index: auto;
    line-height: 16px;
    display: inline;
    box-sizing: content-box;
    
  }
.aa{
  color: #da1d26;
  text-decoration: none;
}
.im img{
  border-radius: 30%;
  height: 60%;
  width: 75%;
}

.aab{
  color: #3eec72;
  text-decoration: none;
}
.scl h3{
  color: #2da4b9;
}
.nott{
  background-color: #660025;
  color: white;
  font-size: 22px;
}
.nt{
  text-decoration: none;
  color: #da1d26;
  font-size: 13px;
}
.uppp{
  background-image: url(photos/index.jpg);
  
}

 